<% provide(:class, 'category-page option6') %>
<div class="breadcrumb clearfix">
    <a class="home" href="/" title="Return to Home">Главная</a>
    <span class="navigation-pipe">&nbsp;</span>
    <span class="navigation_page"><%= @tag.title %></span>
</div>
<!-- ./breadcrumb -->
<div class="row">
    <!-- Left colunm -->
    <%= render '/layouts/main/sidebar' %>
    <!-- ./left colunm -->
    <!-- Center colunm-->
    <div class="center_column col-xs-12 col-sm-9" id="center_column">
      
        
        <!-- ./subcategories -->
        <!-- view-product-list-->
        <div id="view-product-list" class="view-product-list">
            <h2 class="page-heading">
            <span class="page-heading-title"><%= @tag.title %></span>
            </h2>
            
            
        </div>
        
       
        <ul class="row product-list grid">
            <% @products.each do |product| %>
            <li class="col-sx-12 col-sm-4">
                <div class="product-container">
                    <div class="left-block">
                        <a href="<%= product_path(product) %>">
                            <% if product.avatar.normal != nil %>
                            <img class="img-responsive" alt="product" src="<%= product.avatar.normal %>" />
                            <% else %>
                            <img class="img-responsive" alt="product" src="/main/data/p35.jpg" />
                            <% end %>
                            
                        </a>
                        
                        <div class="add-to-cart">
                            <!--  <a title="Add to Cart" href="#add">В корзину</a> -->
                             <a href="#mini_cart" class="mini_cart">Купить</a>
                            <%# button_to 'Купить', line_items_path(product_id: product)%>
                        </div>
                    </div>
                    <div class="right-block">
                        <h5 class="product-name">
                        <%=  link_to product.name, product_path(product)%>
                        </h5>
                        <div class="product-star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                        <div class="content_price">
                            <span class="price product-price">$<%= product.price %></span>
                            <% if product.old_price != nil %>
                            <span class="price old-price">$<%= product.old_price %></span>
                            <% end %>
                        </div>
                        <div class="info-orther">
                            <% if product.sku != nil %>
                            <p>Артикул: #<%= product.sku %></p>
                            <% else %>
                            <p>Артикул: #<%= product.id %></p>
                            <% end %>
                            <p class="availability">Наличие: <span>В наличии</span></p>
                            <div class="product-desc">
                                <%= product.short_description %>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display:none">
<div id="mini_cart">
    <div class="box-border">
                <ul>
                    <p>Товар: <%= product.name %></p>
                    <p>Цена: <%= product.price %> $</p>
                    <p class="subcaption bold">Контакты покупателя</p>
                       <%= form_for ([product, MiniCart.new(product_id: product.id)]) do |f| %>

                    <li class="row">

                        <div class="col-sm-6">
                            <label for="first_name" class="required">Имя</label>
                             <%= f.text_field :name, class: "input form-control" %>
                        </div><!--/ [col] -->
                        <div class="col-sm-6">
                            <label for="last_name" class="required">Телефон</label>
                            <%= f.text_field :phone, class: "input form-control" %>
                        </div><!--/ [col] -->
                    </li><!--/ .row -->
                    <li class="row">
                        <div class="col-sm-6">
                            <label for="company_name">Email</label>
                            <%= f.text_field :email, class: "input form-control" %>
                        </div><!--/ [col] -->
                        <div class="col-sm-6">
                            <label for="email_address" class="required">Подписаться на рассылку</label>
                             <%= f.select(:agree_newsletter, options_for_select([['Да', true],['Нет', false]], selected: true),{},{class: "input form-control"}) %>
                        </div><!--/ [col] -->
                    </li><!--/ .row -->
                    <li class="row"> 
                        <div class="col-xs-12">

                            <label for="address" class="required">Адрес</label>
                            <%= f.text_area :phone, class: "input form-control" %>

                        </div><!--/ [col] -->

                    </li><!-- / .row -->

                    <li>
                    
                    <%= f.submit "Оформить заказ", class: "button submit_minicart" %>
                    </li>

                    <% end %>
                </ul>
            </div>
</div>
</div>
            </li>
            <% end %>
        </ul>
        <!-- ./PRODUCT LIST -->
    </div>
    <!-- ./view-product-list-->
   


    <div class="sortPagiBar">
        <div class="bottom-pagination">
            <nav>
                 <%= will_paginate @products %>
               
            </nav>
        </div>
        
       
    </div>
</div>
<!-- ./ Center colunm -->
</div>
