<div class="md-card">
    <div class="md-card-content">
        <h3 class="heading_a">Добавить категорию</h3>
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-large-5-10">Категория</th>
                    <th class="uk-width-large-2-10">Место показа</th>
                    <th class="uk-width-large-1-10">Количество <br/> показов</th>
                    <th class="uk-width-large-1-10">Время действия <br/> дней</th>
                    <th class="uk-width-large-1-10"></th>
                </tr>
            </thead>
            <tbody>
                <%# form_for ([@advert, @advert.advert_categories.build]) do |f| %>
                <%# form_for([:seller, @advert, @advert_category], :multipart => true ) do |f| %>
                <%= form_for([:sellers, @advert, @advert_position] ) do |f| %>
                <tr>
                    <th class="uk-width-large-5-10">
                        <%= f.select :product_category_id, options_for_select(@product_categories), {include_blank: 'Не выбрано'},{"data-md-selectize": true }    %>
                    </th>
                    <th class="uk-width-large-2-10"><%= f.select(:place, options_for_select([['Страница категории', 'product_category'], ['Товары категории', 'product']], selected: nil), {include_blank: 'Не выбрано'},{"data-md-selectize": true }) %></th>
                    <th class="uk-width-large-1-10"><%= f.text_field :views %></th>
                    
                    <th class="uk-width-large-1-10"><%= f.text_field :time_days %></th>
                    
                    <%# f.text_field :time_days, class: "md-input" %>
                    
                    <th class="uk-width-large-1-10"><%= f.submit(class: "md-btn md-btn-success", value: "Добавить") %>
                        
                    </th>
                </tr>
                <% end %>
            </tbody>
        </table>
        
    </div>
</div>