<% provide(:class, 'product-page right-sidebar  option6') %>
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="/" title="Return to Home">Главная</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Регистрация</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title2">Регистрация для новых продавцов</span>
        </h2>
        <!-- ../page heading-->
        <div class="page-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="box-authentication">
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= devise_error_messages! %>

                          <label for="emmail_login">Email</label>
                          <%= f.email_field :email, autofocus: true, id: "emmail_login", class: "form-control" %>

                          <label for="password_login">Пароль, минимальная длинна: <%= @minimum_password_length %></label>
                          <%= f.password_field :password, autocomplete: "off", id: "password_login", class: "form-control" %>

                          <label for="password_login">Повторите пароль</label>
                          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                          <p class="forgot-pass"><a href="/sellers/sign_in">У меня уже есть учетная запись</a></p>
                          <%= f.submit "Зарегистрироваться", class: "button" %>
                          
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>