<div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block">Категории товаров</p>
                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <% @sidebar_product_categories.each do |category| %>
                                        <li><span></span><%= link_to category.name, product_category_path(category) %></li>
                                    <% end %>    
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
               zzz
               <%= @sidebar_products_keys.size %> <br/>
                <div class="block left-module">
                    <p class="title_block">Горячие предложения</p>
                    <div class="block_content product-onsale">
                        <ul class="product-list owl-carousel" data-loop="true" data-nav = "false" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-items="1" data-autoplay="true">
                          <% @sidebar_hot_products.each do |product| %>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a href="#">
                                            <img class="img-responsive" alt="product" src="<%= product.avatar.thumb %>" />
                                        </a>
                                        <div class="price-percent-reduction2">скидка 30%</div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><%= link_to product.name, product_path(product) %></h5>
                                        <div class="product-star">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <div class="content_price">
                                            <span class="price product-price"><%= product.price %></span>
                                            <span class="price old-price"><%= product.old_price %></span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </li>
                           <% end %>    
                        </ul>
                    </div>
                </div>

                <!-- ./block filter  -->
                 <div class="block left-module sidebar_product_list">
                    <p class="title_block">Топ продаж</p>
                    <div class="block_content">
                        <ul class="products-block">
                          <% @sidebar_products.each do |product| %> 
                            <li>
                                <div class="products-block-left">
                                    <a href="<%= product_path(product) %>">
                                        <img src="<%= product.avatar.sidebar_thumb %>" alt="SPECIAL PRODUCTS">
                                    </a>
                                </div>
                                <div class="products-block-right">
                                    <p class="product-name">
                                        <%= link_to product.name, product_path(product) %>
                                    </p>
                                    <p class="product-price"><%= product.price %></p>
                                    <p class="product-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </p>
                                </div>
                            </li>

                          <% end %>
                        </ul>
                        
                    </div>
                </div>
                
                <!-- left silide -->
                <div class="col-left-slide left-module">
                    <ul class="owl-carousel owl-style2" data-loop="true" data-nav = "false" data-margin = "30" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-items="1" data-autoplay="true">
                     <% @sidebar_banners.each do |banner| %>
                        <li><a href="<%= banner.link %>"><img src="<%= banner.image %>" alt="slide-left"></a></li>
                     <% end %> 
                    </ul>

                </div>
                <!--./left silde-->
                <!-- SPECIAL -->
               
            </div>