<div class="uk-width-large-3-10">
  
  <div class="md-card">
    
    <div class="md-card-content">
      <h3 class="heading_a">Иформация об объявлении</h3>
      <div class="uk-grid uk-grid-divider uk-grid-medium" data-uk-grid-margin>
        <div class="uk-width-large-2-2">
          <div class="uk-form-row">
            <label>id: <%= @advert.id %></label>
          </div>
          <div class="uk-form-row">
            <label>Стоимость: <%= @advert.total_price %></label>
          </div>
          <div class="uk-form-row">
            <label>Общее количество показов: <%= @advert.total_views %></label>
          </div>
          <div class="uk-form-row">
            <% if @advert.active == true %>
            <label>Статус: Активно</label>
            <% else %>
            <label>Статус: Не активно   <button class="md-btn md-btn-success" data-uk-modal="{target:'#modal_header_footer'}">Активировать</button></label>
            <% end %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="uk-modal" id="modal_header_footer">
  <div class="uk-modal-dialog">
    <div class="uk-modal-header">
      <h3 class="uk-modal-title">Внимание</h3>
    </div>
    <% if @current_seller.score > @advert.total_price %>
      <p>После активации с Вашего счета будет списано <%= @advert.total_price %>$  продолжить ?</p>
    <% else %>
      <p> На вашем счету недостаточно денег для размещенияя этого объявления </p>
     <% end %>  
    <div class="uk-modal-footer uk-text-right">
      <button type="button" class="md-btn md-btn-flat uk-modal-close">Отмена</button>
      <%= button_to "Продолжить", { action: "set_active" }, form_class: "md-btn md-btn-flat md-btn-flat-primary" %>
      <button type="button" class="md-btn md-btn-flat md-btn-flat-primary">Продолжить</button>
    </div>
  </div>
</div>