 <div id="page_content">
        <div id="page_content_inner">
            <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                <div class="uk-width-large-7-10">
                    <div class="md-card">
                        <div class="user_heading">
                            <div class="user_heading_menu" data-uk-dropdown>
                                <i class="md-icon material-icons md-icon-light">&#xE5D4;</i>
                                <div class="uk-dropdown uk-dropdown-flip uk-dropdown-small">
                                    <ul class="uk-nav">
                                        <li><a href="#">Редактировать профиль</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="user_heading_avatar">
                                <!-- <img src="<%= @seller.avatar.admin %>" alt="user avatar"/> -->
                            </div>
                            <div class="user_heading_content">
                                <h2 class="heading_b uk-margin-bottom"><span class="uk-text-truncate"><%= "#{@seller.name} #{@seller.surname}" %></span><span class="sub-heading"><%= "#{@seller.phone} | #{@seller.email} | #{@seller.skype}" %></span></h2>
                                <ul class="user_stats">
                                    <li>
                                        <h4 class="heading_a"><%= @seller.products.count %> <span class="sub-heading">Товаров</span></h4>
                                    </li>
                                    <li>
                                        <h4 class="heading_a">120 <span class="sub-heading">Продаж</span></h4>
                                    </li>
                                    <li>
                                        <h4 class="heading_a">1200 $<span class="sub-heading">Оборот с момента регистрации</span></h4>
                                    </li>
                                </ul>
                            </div>
                           
                        </div>
                        <div class="user_content">
                            <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}">
                                <li class="uk-active"><a href="#">Контакты</a></li>
                                <li><a href="#">Активность</a></li>
                                <li><a href="#">Товары</a></li>
                            </ul>
                            <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                                <li>
                                      <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                        <div class="uk-width-large-1-2">
                                
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><%= @seller.email %></span>
                                                        <span class="uk-text-small uk-text-muted">Email</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><%= @seller.phone %></span>
                                                        <span class="uk-text-small uk-text-muted">Phone</span>
                                                    </div>
                                                </li>
                                                <li>
                                                   
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><%= @seller.skype %></span>
                                                        <span class="uk-text-small uk-text-muted">Skype</span>
                                                    </div>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="uk-width-large-1-2">
                                            <ul class="md-list">
                                                 <li>
                                                    
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><%= @seller.sity %></span>
                                                        <span class="uk-text-small uk-text-muted">Город</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">ул. Октябрьская, д.1 </span>
                                                        <span class="uk-text-small uk-text-muted">Адрес</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><%= @seller.zip %></span>
                                                        <span class="uk-text-small uk-text-muted">Индекс</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </li>
                                <li>
                                    <div class="timeline">
                                        <div class="timeline_item">
                                            <div class="timeline_icon timeline_icon_success"><i class="material-icons">&#xE85D;</i></div>
                                            <div class="timeline_date">
                                                09 <span>08</span>
                                            </div>
                                            <div class="timeline_content">Добавил товар  <a href="#"><strong>Товар 1</strong></a></div>
                                        </div>
                                        
                                        <div class="timeline_item">
                                            <div class="timeline_icon"><i class="material-icons">&#xE410;</i></div>
                                            <div class="timeline_date">
                                                08 <span>08</span>
                                            </div>
                                             <div class="timeline_content">Продал товар <a href="#"><strong>Товар 2</strong></a></div>
                                        </div>
                                        <div class="timeline_item">
                                            <div class="timeline_icon timeline_icon_primary"><i class="material-icons">&#xE0B9;</i></div>
                                            <div class="timeline_date">
                                               07 <span>08</span>
                                            </div>
                                            <div class="timeline_content">
                                                Задал в вопрос в поддержку <a href="#"><strong>Какой лимит товаров для пользователя ?</strong></a>
                                                <div class="timeline_content_addon">
                                                    <blockquote>
                                                        Приветствую, хотелось бы более подробно узнать о лимитах на количество товаров для каждого пользователя.
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </li>
                                <li>
                                    <ul class="md-list">
                                        <% @seller.products.each do |product| %>
                                            <li>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading"><a href="<%= product_category_product_path(product.product_category, product) %>"><%= product.name %></a></span>
                                                    <div class="uk-margin-small-top">
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons">&#xE192;</i> <span class="uk-text-muted uk-text-small"><%= product.created_at.to_date %></span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons">&#xE0B9;</i> <span class="uk-text-muted uk-text-small"><%= product.price %></span>
                                                    </span>
                                                    <span class="uk-margin-right">
                                                        <i class="material-icons">&#xE417;</i> <span class="uk-text-muted uk-text-small">24</span>
                                                    </span>
                                                    </div>
                                                </div>
                                            </li>
                                        <% end %>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="uk-width-large-3-10">
                    <div class="md-card" data-uk-sticky="{ top: 48, media: 960 }">
                        <div class="md-card-content">
                            <div class="uk-margin-medium-bottom">
                                <h3 class="heading_c uk-margin-bottom">Баланс</h3>
                                <ul class="md-list md-list-addon">
                                    
                                    <li>
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons uk-text-success">&#xE88F;</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">Состояние счета</span>
                                            <span class="uk-text-small uk-text-muted uk-text-truncate">Текущий счет: $1200</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>