<% provide(:class, 'category-page,  cart_page option2') %>

<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="#" title="Return to Home">Главная</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Корзина</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading no-line">
            <span class="page-heading-title2">Офрмление заказа</span>
        </h2>
        <!-- ../page heading-->
        <div class="page-content page-order">
            <div class="heading-counter warning">Количество товаров:
                <span><%= @cart.line_items.count %></span>
            </div>
            <div class="order-detail-content">
                <table class="table table-bordered table-responsive cart_summary">
                    <thead>
                        <tr>
                            <th class="cart_product">Фото</th>
                            <th>Описание</th>
                            <th>Статус</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Стоимось</th>
                            <th  class="action"><i class="fa fa-trash-o"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @cart.line_items.each do |item| %>
                        <tr>
                            <td class="cart_product">
                                <a href="#"><img src="<%= item.product.avatar.cart_thumb %>" alt="Product"></a>
                            </td>
                            <td class="cart_description">
                                <p class="product-name"><%= link_to item.product.name, product_category_product_path(item.product.product_category.id, item.product.id) %></p>
                                <small class="cart_ref">Артикул : <%= item.product.sku %></small><br>
                                <small><a href="#">Атрибут : значение</a></small><br>   
                                <small><a href="#">Атрибут 2 : значение</a></small>
                            </td>
                            <td class="cart_avail"><span class="label label-success">В наличии</span></td>
                            <td class="price"><span><%= item.product.price %>$</span></td>
                            <td class="qty">
                                <input class="form-control input-sm" type="text" value="<%= item.quantity %>">
                                <a href="#"><i class="fa fa-caret-up"></i></a>
                                <a href="#"><i class="fa fa-caret-down"></i></a>
                            </td>
                            <td class="price">
                                <span><%= item.quantity * item.product.price  %></span>
                            </td>
                            <td class="action">
                                <%= link_to 'Удалить', line_item_path(item), method: :delete, data: { confirm: 'Удалить товар из корзины ?' } %>
                            </td>
                        </tr>
                    <% end %>    
                    </tbody>
                    <tfoot>
                       
                        <tr>
                            <td colspan="5"><strong>Всего</strong></td>
                            <td colspan="2"><strong><%= @cart.total_price %> $</strong></td>
                        </tr>
                    </tfoot>    
                </table>
               
            </div>
            <%= form_for(@order) do |f| %>
            <div class="box-border">
                <ul>
                                    
                    <li class="row">
                        
                        <div class="col-sm-6">
                            
                            <label for="first_name_1" class="required">Имя</label>
                             <%= f.text_field :name, size: 40, class: "input form-control", id: "first_name_1" %>
                        </div><!--/ [col] -->

                        <div class="col-sm-6">
                            
                            <label for="last_name_1" class="required">Фамилия</label>
                             <%= f.text_field :surname, size: 40, class: "input form-control" %>

                        </div><!--/ [col] -->

                    </li><!--/ .row -->

                    <li class="row">
                        
                        <div class="col-sm-6">
                            
                            <label for="company_name_1">Телефон</label>
                            <%= f.text_field :phone, size: 40, class: "input form-control" %>
                        </div><!--/ [col] -->

                        <div class="col-sm-6">
                            
                            <label for="email_address_1" class="required">Skype</label>
                             <%= f.text_field :skype, size: 40, class: "input form-control" %>

                        </div><!--/ [col] -->

                    </li><!--/ .row -->

                    <li class="row">

                        <div class="col-xs-12">

                            <label for="address_1" class="required">Адрес</label>
                             <%= f.text_area :adress, size: 40, class: "input form-control" %>

                        </div><!--/ [col] -->
                        <div class="col-xs-12">

                            <label for="address_1" class="required">Примечание и особые просьбы</label>
                             <%= f.text_area :additional_info, size: 40, class: "input form-control" %>

                        </div><!--/ [col] -->

                    </li><!--/ .row -->



                  

                </ul>
                
            </div>
			
			 <div class="cart_navigation">
                   <%= f.submit('Оформить заказ', class: "next-btn")  %> 
                    <a class="prev-btn" href="/product_categories/">Продолжить покупки</a>
                    
             </div>
            <% end %>
        </div>
    </div>
</div>