<% provide(:class, 'home option6') %>
<%= render '/static/home/search_area.html.erb' %>
<div class="page-top">

  <%= render '/static/home/products_grid.html.erb' %>
  <div class="container">
    <%= render '/static/home/category_show.html.erb' %>
    <%= render '/static/home/categories_list.html.erb' %>
  </div>
    <%= render '/static/home/articles_list.html.erb' %>     
</div>
