<% provide(:class, 'category-page option2') %>
<div class="breadcrumb clearfix">
            <a class="home" href="#" title="Return to Home">Home</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Fashion</span>
        </div>
        <!-- ./breadcrumb -->

        <div class="row">
            <!-- Left colunm -->
            <%= render '/layouts/main/sidebar' %>
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- category-slider -->
                <div class="category-slider">
                    <ul class="owl-carousel owl-style2" data-dots="false" data-loop="true" data-nav = "true" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-items="1">
                        <li>
                            <img src="<%= @product_category.avatar.normal %>" alt="category-slider">
                        </li>
                        <% @product_category_attacments.each do |attacment| %>
                            <li>
                                <img src="<%= attacment.image.normal %>" alt="category-slider">
                            </li>
                        <% end %>    
                    </ul>
                </div>
                <!-- ./category-slider -->
                <!-- subcategories -->
                <div class="subcategories">
                    <ul>
                     
                        <% @product_category.product_categories.each do |product_category| %>
                            <li><%= link_to product_category.name, product_category_path(product_category) %></li>
                        <% end %>
                    </ul>
                </div>
                <!-- ./subcategories -->
                <!-- view-product-list-->
                <div id="view-product-list" class="view-product-list">
                    <h2 class="page-heading">
                        <span class="page-heading-title"><%= @product_category.name %></span>
                    </h2>

                    <ul class="display-product-option">
                        <li class="view-as-grid selected">
                            <span>grid</span>
                        </li>
                        <li class="view-as-list">
                            <span>list</span>
                        </li>
                    </ul>
                    <!-- PRODUCT LIST -->
                    
                </div>
                    <ul class="row product-list grid">
                    <% @products.each do |product| %>
                        <li class="col-sx-12 col-sm-4">
                            <div class="product-container">
                                <div class="left-block">
                                    <a href="<%= product_category_product_path(@product_category, product) %>">
                                        <% if product.avatar.normal != nil %>
                                            <img class="img-responsive" alt="product" src="<%= product.avatar.normal %>" />
                                        <% else %>
                                             <img class="img-responsive" alt="product" src="/main/data/p35.jpg" />    
                                        <% end %>
                                        
                                    </a>
                                    <div class="quick-view">
                                            <a title="Посмотреть позже" class="heart" href="#"></a>
                                            <a title="Добавить к сравнению" class="compare" href="#"></a>
                                            
                                    </div>
                                    <div class="add-to-cart">
                                        <a title="Add to Cart" href="#add">В корзину</a>
                                        <%= button_to 'Купить', line_items_path(product_id: product),{ class: "button" }%>
                                    </div>
                                </div>
                                <div class="right-block">
                                    <h5 class="product-name">
                                    <%=  link_to product.name, product_category_product_path(@product_category, product)%>
                                    </h5>
                                    <div class="product-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    <div class="content_price">
                                        <span class="price product-price">$<%= product.price %></span>
                                        <% if product.old_price != nil %>
                                            <span class="price old-price">$<%= product.old_price %></span>
                                        <% end %>    
                                    </div>
                                    <div class="info-orther">
                                        <% if product.sku != nil %>
                                            <p>Артикул: #<%= product.sku %></p>
                                        <% else %>
                                            <p>Артикул: #<%= product.id %></p>
                                        <% end %>
                                        <p class="availability">Наличие: <span>В наличии</span></p>
                                        <div class="product-desc">
                                            <%= product.short_description %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                     <% end %>                          
                    </ul>
                    <!-- ./PRODUCT LIST -->
                </div>
                <!-- ./view-product-list-->
                <div class="sortPagiBar">
                    <div class="bottom-pagination">
                        <nav>
                          <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">Вперед &raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                    <div class="show-product-item">
                        <select name="">
                            <option value="">18</option>
                            <option value="">20</option>
                            <option value="">50</option>
                            <option value="">100</option>
                        </select>
                    </div>
                    <div class="sort-product">
                        <select>
                            <option value="">Название</option>
                            <option value="">Цена</option>
                        </select>
                        <div class="sort-product-icon">
                            <i class="fa fa-sort-alpha-asc"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./ Center colunm -->
        </div>