<% provide(:class, 'product-page right-sidebar  option6') %>

<div class="columns-container">
    <div class="container" id="columns">
        <div class="breadcrumb clearfix">
            <a class="home" href="/" title="Return to Home">Главная</a>
            <span class="navigation-pipe">&nbsp;</span>
            <a href="<%= product_category_path(@product.product_category) %>" title="Return to Home"><%= @product.product_category.name %></a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page"><%= @product.name %></span>
        </div>
        <div class="row">
            <%= render '/layouts/main/sidebar' %>
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- Product -->
                    <div id="product">
                        <div class="primary-box row">
                            <div class="pb-left-column col-xs-12 col-sm-6">
                                <!-- product-imge-->
                                <div class="product-image">
                                    <div class="product-full">
                                        <img id="product-zoom" src='<%= @product.avatar.normal %>' data-zoom-image="<%= @product.avatar.normal %>"/>
                                    </div>
                                    <div class="product-img-thumb" id="gallery_01">
                                        
                                    </div>
                                </div>
                                <!-- product-imge-->
                            </div>
                            <div class="pb-right-column col-xs-12 col-sm-6">
                                <h1 class="product-name"><%= @product.name %></h1>
                                <div class="product-comments">
                                    <div class="product-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    <div class="comments-advices">
                                        <a href=""><i class="fa fa-user"></i> <%= "#{@product.seller.name}  #{@product.seller.surname}" %></a>
                                    </div>
                                </div>
                                <div class="product-price-group">
                                    <span class="price"><%= @product.price %> $</span>
                                    <span class="old-price"><%= @product.old_price %> $</span>
                                    <span class="discount">-30%</span>
                                </div>
                                <div class="info-orther">
                                    <% if @product.sku != nil %>
                                        <p>Артикул: #<%= @product.sku %></p>
                                    <% else %>
                                        <p>Артикул: #<%= @product.id %></p>
                                    <% end %>

                                    <% if @product.avability == 'in_stock' %>
                                        <p>Наличие: <span class="in-stock">в наличии</span></p>
                                    <% elsif  @product.avability == 'pre_order' %>
                                        <p>Наличие: <span class="in-stock">предзаказ</span></p>
                                    <% end %>   
                                </div>
                                <div class="product-desc">
                                    Теги:
                                    <% @product.tags.each do |tag| %>
                                        <%= link_to tag.title, tag_path(tag) %>
                                    <% end %>
                                </div>
                                <div class="product-desc">
                                     <%= button_to 'Купить', line_items_path(product_id: @product),{ class: "btn-add-cart" }%>
                                     <a href="#mini_cart" class="mini_cart btn">Заказать в 1 клик</a>
                                     <a href="#question_form" class="question_form">Задать вопрос продавцу</a>
                                </div>
                            </div>
                        </div>
                        <!-- tab product -->
                        <div class="product-tab">
                            <ul class="nav-tab">
                                <li class="active">
                                    <a aria-expanded="false" data-toggle="tab" href="#product-detail">Описание</a>
                                </li>
                                <li>
                                    <a aria-expanded="true" data-toggle="tab" href="#information">Контакты продавца</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#reviews">Отзывы о продавце</a>
                                </li>
                            </ul>
                            <div class="tab-container">
                                <div id="product-detail" class="tab-panel active">
                                    <%= @product.description.html_safe %>
                                </div>
                                <div id="information" class="tab-panel">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td width="200">Имя</td>
                                            <td><%= @seller.name %></td>
                                        </tr>
                                        <tr>
                                            <td>Фамилия</td>
                                            <td><%= @seller.surname %></td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><%= @seller.email %></td>
                                        </tr>
                                        <tr>
                                            <td>Телефон</td>
                                            <td><%= @seller.phone %></td>
                                        </tr>
                                        <tr>
                                            <td>Skype</td>
                                            <td><%= @seller.skype %></td>
                                        </tr>
                                        <tr>
                                            <td>Город</td>
                                            <td><%= @seller.sity %></td>
                                        </tr>

                                        <tr>
                                            <td>Количество продаж</td>
                                            <td><%= @seller.count_sales %></td>
                                        </tr>
                                        <tr>
                                            <td>Процент положительных отзывов</td>
                                            <td><%= @seller.count_good_reviews %>%</td>
                                        </tr>
                                    </table>
                                </div>
                                <div id="reviews" class="tab-panel">
                                    <div class="product-comments-block-tab">
                                     <% @seller_reviews.each do |review| %>
                                        <div class="comment row">
                                            <div class="col-sm-3 author">
                                                <div class="grade">
                                                    
                                                    <% case review.rating %>
                                                    <% when 1 %>
                                                        <span>Очень плохо</span>
                                                    <% when 2 %>
                                                        <span>Плохо плохо</span>
                                                    <% when 3 %>
                                                        <span>Удоблетворительно</span>
                                                    <% when 4 %>
                                                        <span>Хорошо</span>
                                                    <% when 5 %>
                                                        <span>Отлично</span>                
                                                    <% else %>
                                                        <span>Хорошо</span>
                                                    <% end %>
                                                    <span class="reviewRating">
                                                        <% review.rating.times do |i| %>
                                                            <i class="fa fa-star"></i>
                                                        <% end %>
                                                    </span>
                                                </div>
                                                <div class="info-author">
                                                    <span><strong><%= review.name %></strong></span>
                                                    <em><%= review.created_at.to_date %></em>
                                                </div>
                                            </div>
                                            <div class="col-sm-9 commnet-dettail">
                                               <%= review.content %>
                                            </div>
                                        </div>
                                      <% end %>  
                                        
                                    </div>
                                    
                                </div>
                           
                            </div>
                        </div>
                        <!-- ./tab product -->
                        <!-- box product -->
                        <div class="page-product-box">
                            <h3 class="heading">Похожие товары</h3>
                            <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "30" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                            <% @related_products.each do |product| %>
                                <li>
                                    <div class="product-container">
                                        <div class="left-block">
                                            <a href="#">
                                                <img class="img-responsive" alt="product" src="<%= product.avatar.normal %>" />
                                            </a>
                                            
                                            <div class="add-to-cart">
                                                <a title="Купить" href="#add">Купить</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><%= link_to product.name, product_path(product) %></h5>
                                            
                                            <div class="content_price">
                                                <span class="price product-price"><%= product.price %> $</span>
                                                <span class="price old-price"><%= product.old_price %> $</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            <% end %>    
                            </ul>
                        </div>
                        <!-- ./box product -->
                        <!-- box product -->
                        <div class="page-product-box">
                            <h3 class="heading">Другие товары этого продавца</h3>
                            <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "30" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                             <% @seller_products.each do |product| %>
                                  <li>
                                    <div class="product-container">
                                        <div class="left-block">
                                            <a href="#">
                                                <img class="img-responsive" alt="product" src="<%= product.avatar.normal %>" />
                                            </a>
                                            
                                            <div class="add-to-cart">
                                                <a title="Купить" href="#add">Купить</a>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><%= link_to product.name, product_path(product) %></h5>
                                            
                                            <div class="content_price">
                                                <span class="price product-price"><%= product.price %> $</span>
                                                <span class="price old-price"><%= product.old_price %> $</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                        <!-- ./box product -->
                    </div>
                <!-- Product -->
            </div>
        </div>
    </div>
</div>


<div style="display:none">
<div id="question_form">
    <div class="box-border">
                <ul>
                    <p class="subcaption bold">Задайте свой вопрос продавцу</p>
                    <%= form_for ([@product, ProductQuestion.new(product_id: @product.id)]) do |f| %>
                    <li class="row">

                        <div class="col-sm-6">
                            <label for="first_name" class="required">Имя</label>
                             <%= f.text_field :name, class: "input form-control" %>
                        </div><!--/ [col] -->
                        <div class="col-sm-6">
                            <label for="last_name" class="required">Телефон</label>
                            <%= f.text_field :phone, class: "input form-control" %>
                        </div><!--/ [col] -->
                    </li><!--/ .row -->
                    <li class="row">
                        <div class="col-sm-6">
                            <label for="company_name">Email</label>
                            <%= f.text_field :email, class: "input form-control" %>
                        </div><!--/ [col] -->
                         <div class="col-sm-6">
                            <label for="email_address" class="required">Подписаться на рассылку</label>
                             <%= f.select(:agree_newsletter, options_for_select([['Да', true],['Нет', false]], selected: true),{},{class: "input form-control"}) %>
                        </div>
                        
                    </li><!--/ .row -->
                    <li class="row"> 
                        <div class="col-xs-12">

                            <label for="address" class="required">Вопрос</label>
                            <%= f.text_area :question, class: "input form-control" %>

                        </div><!--/ [col] -->

                    </li><!-- / .row -->

                    <li>
                    
                    <%= f.submit "Спросить", class: "button submit_minicart" %>
                    </li>

                    <% end %>
                </ul>
            </div>
</div>
<div id="mini_cart">
    <div class="box-border">
                <ul>
                    <p>Товар: <%= @product.name %></p>
                    <p>Цена: <%= @product.price %> $</p>
                    <p class="subcaption bold">Контакты покупателя</p>
                    <%= form_for ([@product, MiniCart.new(product_id: @product.id)]) do |f| %>
                    <li class="row">

                        <div class="col-sm-6">
                            <label for="first_name" class="required">Имя</label>
                             <%= f.text_field :name, class: "input form-control" %>
                        </div><!--/ [col] -->
                        <div class="col-sm-6">
                            <label for="last_name" class="required">Телефон</label>
                            <%= f.text_field :phone, class: "input form-control" %>
                        </div><!--/ [col] -->
                    </li><!--/ .row -->
                    <li class="row">
                        <div class="col-sm-6">
                            <label for="company_name">Email</label>
                            <%= f.text_field :email, class: "input form-control" %>
                        </div><!--/ [col] -->
                        <div class="col-sm-6">
                            <label for="email_address" class="required">Подписаться на рассылку</label>
                             <%= f.select(:agree_newsletter, options_for_select([['Да', true],['Нет', false]], selected: true),{},{class: "input form-control"}) %>
                        </div><!--/ [col] -->
                    </li><!--/ .row -->
                    <li class="row"> 
                        <div class="col-xs-12">

                            <label for="address" class="required">Адрес</label>
                            <%= f.text_area :address, class: "input form-control" %>

                        </div><!--/ [col] -->

                    </li><!-- / .row -->

                    <li>
                    
                    <%= f.submit "Оформить заказ", class: "button submit_minicart" %>
                    </li>

                    <% end %>
                </ul>
            </div>
</div>
</div>