<div id="page_content">
    <div id="page_content_inner">

     <div class="md-card uk-margin-medium-bottom">
                <div class="md-card-content">
                    <div class="uk-grid uk-grid-divider" data-uk-grid-margin>
                        <div class="uk-width-large-2-2">
                            <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
                                <div class="uk-width-1-10">
                                    <ul class="uk-tab uk-tab-left" data-uk-tab="{connect:'#tabs_6'}">
                                        <li class="uk-active"><a href="#">Все</a></li>
                                        <li><a href="#">Активные</a></li>
                                        <li><a href="#">Архивные</a></li>
                                    </ul>
                                </div>
                                <div class="uk-width-9-10">
                                    <ul id="tabs_6" class="uk-switcher uk-margin-small-top">
                                        <%= render '/seller/adverts/index/all_adverts' %>
                                        <%= render '/seller/adverts/index/active_adverts' %>
                                        <%= render '/seller/adverts/index/arhive_adverts' %>
                                         
                                    </ul>
                                </div>
                            </div>
                        </div>
                 
                    </div>
                </div>
            </div>

        <div class="md-fab-wrapper">
            <button class="md-btn md-btn-success" data-uk-modal="{target:'#modal_overflow'}">Добавить</button>
        </div>
    </div>
</div>
<div class="uk-width-medium-3-3">
    <div id="modal_overflow" class="uk-modal">
        <div class="uk-modal-dialog uk-modal-dialog-large">
            <button type="button" class="uk-modal-close uk-close"></button>
            
            
            <div class="md-card">
                <div class="md-card-content">
                    <h3 class="heading_a">Новое объявление</h3>
                    <!-- start form -->
                    <%= form_for([:seller, @advert], class: "uk-form-stacked", id: "product_edit_form", :multipart => true ) do |f| %>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-2-2">
                            <div class="uk-form-row">
                                <label>Товар</label>
                                <%= f.select :product_id, @products.collect {|product| [product.name, product.id ]},{include_blank: 'Не выбрано'}, {"data-md-selectize ": true } %>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <%= f.submit(class: "md-btn md-btn-flat md-btn-flat-primary", value: "Создать") %>
                    </div>
                    <% end %>
                    <!-- end form -->
                </div>
            </div>
        </div>
    </div>
</div>