<li>
    <table class="uk-table">
    <% if @adverts.count > 0  %>
        <thead>
            <tr>
                <th>id</th>
                <th>Товар</th>
                <th>Позиций</th>
                <th>Показов  </th>
                <th>Стоимость</th>
                <th>Статус</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>

        

            <% @adverts.each do |advert| %>
            <tr>
                <td><%= advert.id %></td>
                <td class="uk-text-large uk-text-nowrap"><%= link_to advert.product.name, edit_sellers_advert_path(advert) %></td>
                <td class="uk-text-nowrap"><%= advert.advert_positions.size %></td>
                <td class="uk-text-nowrap"><%= advert.total_views %></td>
                <td class="uk-text-nowrap"> <%= advert.total_price %>$</td>
                <% if advert.active == true %>
                <td class="uk-text-nowrap">Активное</td>
                <% elsif advert.active == false and advert.archive == false %>
                <td class="uk-text-nowrap">Не активное</td>
                <% elsif advert.active == false and advert.archive == true %>
                <td class="uk-text-nowrap">Архивное</td>
                <% end %>
                


                <% if advert.active == true %>
                <td class="uk-text-nowrap"><a>Удалить</a></td>
                <% elsif advert.active == false and advert.archive == false %>
                <td class="uk-text-nowrap"><a>Активировать</a></td>
                <% elsif advert.active == false and advert.archive == true %>
                <td class="uk-text-nowrap"> </td>
                <% end %>
            </tr>
            <% end %>

        <% else %>
            <tr>
                <td class="align_center">Объявления отсутствуют</td>
            </tr>
        <% end %>    
        </tbody>
    </table>
</li>