<li>
    <table class="uk-table">
        <thead>
            <tr>
                <th>id</th>
                <th>Товар</th>
                <th>Позиций</th>
                <th>Показов  </th>
                <th>Стоимость</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%# @active_adverts.each do |advert| %>
            <% @adverts.each do |advert| %>
            <tr>
                <td><%= advert.id %></td>
                <td class="uk-text-large uk-text-nowrap"><%= link_to advert.product.name, edit_sellers_advert_path(advert) %></td>
                <td class="uk-text-nowrap"><%= advert.advert_positions.size %></td>
                <td class="uk-text-nowrap"><%= advert.total_views %></td>
                <td class="uk-text-nowrap"> <%= advert.total_price %>$</td>
                
                <td class="uk-text-nowrap">
                    <a>Активировать</a>
                    
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</li>