<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
  
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image/png" href="/altair/assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/altair/assets/img/favicon-32x32.png" sizes="32x32">

    <title>Project X  -- панель админстратора</title>


    <!-- uikit -->
    <link rel="stylesheet" href="/altair/bower_components/uikit/css/uikit.almost-flat.min.css" media="all">

    <!-- flag icons -->
    <link rel="stylesheet"href="/altair/assets/icons/flags/flags.min.css" media="all">

    <!-- altair admin -->
    <link rel="stylesheet" href="/altair/assets/css/main.min.css" media="all">

  <%= stylesheet_link_tag    'administrator', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>

</head>
<body class="sidebar_main_open">
   
    
    <%= render '/layouts/administrator/header' %>
    <%= render '/layouts/administrator/sidebar' %>
    <%= yield %>

    <%= javascript_include_tag 'administrator', 'data-turbolinks-track' => true %>

</body>
</html>